<h1>About Us</h1>
<p>
	<br /> Online ticket booking system:
	Develop an online system that allows users to purchase tickets for movie shows. The process cycle is that the user registers with the website, views all the movies being shown at cinema right now, chooses a movie, selects the suitable time that are available for that movie and purchases the ticket. After the purchase has been done a ticket is previewed on the screen. All the movie shows has maximum seat limit of 60. If that has been filled then the user shouldn’t be able to purchase the ticket. Only one of the users should be an Administrator only who will have the authority to add/remove movies and shows.
</p>
