<h1>Contact Us</h1>
<div class="hero-unit">
<h3>Contact QATS</h3>
<p>Unfortunately, the Online Ticketing System is not a real veterinarian website, but rather a sample project for programming students at Carnegie Mellon University in Qatar. We are sure that you wanted treatment for your pets from the most exquisite veterinarians on the planet, but that's how it goes sometimes. If you are bitterly disappointed (and quite honestly, you should be) and want to grouse to someone, here's the contact info:


<address>
  <strong>Carnegie Mellon</strong><br>
  Al-Rayan, P.O.Box:10042 <br>
  Doha, Qatar<br>
  <abbr title="Phone">P :</abbr> (+974) 456-7890
</address>
 
<address>
  <strong>AFRAH HASSAN</strong><br>
  <a href="mailto:#">afrahhassancmu@gmail.com</a>
</address>
<address>
  <strong>NAWAL BEHIH</strong><br>
  <a href="mailto:#">nbehih@gmail.com</a>
</address>
<address>
  <strong>OLA DAHER</strong><br>
  <a href="mailto:#">oladaher@gmail.com</a>
</address>

<div>
